<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kr.ark.application.manage.code.mapper.CodeMapper">
    <select id="selectCodeGrpList" parameterType="com.kr.ark.application.manage.code.vo.CodeGrpVO" resultType="com.kr.ark.application.manage.code.vo.CodeGrpVO">
		SELECT GRP_CD		AS grpCd
			   , GRP_CD_NM	AS grpCdNm
			   , DESC1		AS desc1
			   , DESC2		AS desc2
			   , USE_YN		AS useYn
			   , REG_DATE	AS regDate
			   , REGR		AS regr
			   , MOD_DATE	AS modDate
			   , MODR		AS modr
		  FROM TB_CODE_GRP
		 WHERE 1=1
    </select>

    <select id="selectCodeList" parameterType="com.kr.ark.application.manage.code.vo.CodeVO" resultType="com.kr.ark.application.manage.code.vo.CodeVO">
		SELECT GRP_CD		AS grpCd
			   , CD			AS cd
			   , CD_NM		AS cdNm
			   , DESC1		AS desc1
			   , DESC2		AS desc2
			   , USE_YN		AS useYn
			   , REG_DATE	AS regDate
			   , REGR		AS regr
			   , MOD_DATE	AS modDate
			   , MODR		AS modr
		  FROM TB_CODE A
		 WHERE 1=1
    </select>
</mapper>