<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kr.ark.application.user.mapper.UserMapper">
    <select id="selectUser" parameterType="com.kr.ark.application.user.vo.UserVO" resultType="com.kr.ark.application.user.vo.UserVO">
		SELECT USR_SN		AS usrSn
			   , USR_ID		AS usrId
			   , PWD		AS pwd
			   , ACTV_NM	AS actvNm
			   , AGREE_YN	AS agreeYn
			   , ROLE_CD	AS roleCd
			   , RS_PWD_YN	AS rsPwdYn
			   , TMP_PWD	AS tmpPwd
			   , REG_DATE	AS regDate
			   , REGR		AS regr
			   , MOD_DATE	AS modDate
			   , MODR		AS modr
		  FROM TB_USER
		 WHERE 1=1
		<if test='lookupType == "usrId"'>
		   AND USR_ID = #{usrId}
		</if>
		<if test='lookupType == "actvNm"'>
		   AND ACTV_NM = #{actvNm}
		</if>
    </select>

    <insert id="insertUser" parameterType="com.kr.ark.application.user.vo.UserVO">
		INSERT INTO TB_USER (
			USR_ID
			, PWD
			, ACTV_NM
			, AGREE_YN
			, REGR
			, MODR
		) VALUES (
			#{usrId}
			, #{pwd}
			, #{actvNm}
			, #{agreeYn}
			, #{regr}
			, #{modr}
		);
    </insert>
</mapper>